$work-text: #21243D;
$work-secondoy: #00A8CC;
$work-light: #8695A4;
$work-primary: #FF6464;
$work-white: #fff;
$work-logo: #EDF7FA;
$work-media: #74a8b8;
$work-media-btn: #010708;
$work-posts: #EDF7FA;
$work-span: #142850;
$work-body-color: #1c1e22;
